In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix,accuracy_score

In [25]:
data=pd.read_csv("Iris.csv")
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [26]:
x=data.iloc[:,:4]
x.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [27]:
y=data.iloc[:,-1]
y.head()

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

In [28]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20)

In [29]:
x_train.head()

     sepal.length  sepal.width  petal.length  petal.width
72            6.3          2.5           4.9          1.5
146           6.3          2.5           5.0          1.9
92            5.8          2.6           4.0          1.2
86            6.7          3.1           4.7          1.5
10            5.4          3.7           1.5          0.2

In [30]:
x_test.head()

     sepal.length  sepal.width  petal.length  petal.width
89            5.5          2.5           4.0          1.3
74            6.4          2.9           4.3          1.3
117           7.7          3.8           6.7          2.2
71            6.1          2.8           4.0          1.3
94            5.6          2.7           4.2          1.3

In [31]:
y_train.head()

72     Versicolor
146     Virginica
92     Versicolor
86     Versicolor
10         Setosa
Name: variety, dtype: object

In [32]:
y_test.head()

89     Versicolor
74     Versicolor
117     Virginica
71     Versicolor
94     Versicolor
Name: variety, dtype: object

In [33]:
sc=StandardScaler()
sc.fit(x_train)
x_train=sc.transform(x_train)
x_test=sc.transform(x_test)

In [34]:
classifier=KNeighborsClassifier(n_neighbors=5)

In [35]:
classifier.fit(x_train,y_train)

KNeighborsClassifier()

In [36]:
y_pred=classifier.predict(x_test)
y_pred

array(['Versicolor', 'Versicolor', 'Virginica', 'Versicolor',
       'Versicolor', 'Setosa', 'Versicolor', 'Virginica', 'Versicolor',
       'Virginica', 'Versicolor', 'Virginica', 'Setosa', 'Versicolor',
       'Setosa', 'Virginica', 'Versicolor', 'Virginica', 'Versicolor',
       'Versicolor', 'Versicolor', 'Versicolor', 'Virginica',
       'Versicolor', 'Setosa', 'Versicolor', 'Virginica', 'Setosa',
       'Versicolor', 'Virginica'], dtype=object)

In [37]:
cm=confusion_matrix(y_test,y_pred)
cm

array([[ 5,  0,  0],
       [ 0, 14,  0],
       [ 0,  2,  9]], dtype=int64)

In [38]:
ac=accuracy_score(y_test,y_pred)
ac

0.9333333333333333