In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix,accuracy_score

In [15]:
data=pd.read_csv("Iris.csv")
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [17]:
x=data.iloc[:,:4]
x.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [18]:
y=data.iloc[:,-1]
y.head()

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20)

In [20]:
x_train.head()

     sepal.length  sepal.width  petal.length  petal.width
61            5.9          3.0           4.2          1.5
133           6.3          2.8           5.1          1.5
87            6.3          2.3           4.4          1.3
132           6.4          2.8           5.6          2.2
92            5.8          2.6           4.0          1.2

In [21]:
x_test.head()

     sepal.length  sepal.width  petal.length  petal.width
117           7.7          3.8           6.7          2.2
13            4.3          3.0           1.1          0.1
97            6.2          2.9           4.3          1.3
88            5.6          3.0           4.1          1.3
2             4.7          3.2           1.3          0.2

In [22]:
y_train.head()

61     Versicolor
133     Virginica
87     Versicolor
132     Virginica
92     Versicolor
Name: variety, dtype: object

In [23]:
y_test.head()

117     Virginica
13         Setosa
97     Versicolor
88     Versicolor
2          Setosa
Name: variety, dtype: object

In [24]:
sc=StandardScaler()
sc.fit(x_train)
x_train=sc.transform(x_train)
x_test=sc.transform(x_test)

In [25]:
classifier=GaussianNB()

In [27]:
classifier.fit(x_train,y_train)

GaussianNB()

In [29]:
y_pred=classifier.predict(x_test)
y_pred

array(['Virginica', 'Setosa', 'Versicolor', 'Versicolor', 'Setosa',
       'Versicolor', 'Setosa', 'Virginica', 'Virginica', 'Setosa',
       'Setosa', 'Virginica', 'Virginica', 'Virginica', 'Setosa',
       'Versicolor', 'Setosa', 'Versicolor', 'Setosa', 'Setosa', 'Setosa',
       'Virginica', 'Virginica', 'Virginica', 'Versicolor', 'Virginica',
       'Setosa', 'Setosa', 'Virginica', 'Virginica'], dtype='<U10')

In [30]:
cm=confusion_matrix(y_test,y_pred)
cm

array([[12,  0,  0],
       [ 0,  6,  2],
       [ 0,  0, 10]], dtype=int64)

In [32]:
ac=accuracy_score(y_test,y_pred)
ac

0.9333333333333333