In [13]:
#Importing the Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [15]:
# Importing the dataset
dataset = pd.read_csv('iris.csv')
X = dataset.iloc[:,:4].values
y = dataset['variety'].values
dataset.head(5)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [17]:
#Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [16]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [18]:
#Training the Naive Bayes Classification model on the Training Set
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

In [19]:
# Predicting the Test set results
y_pred = classifier.predict(X_test) 
y_pred

array(['Versicolor', 'Versicolor', 'Setosa', 'Versicolor', 'Versicolor',
       'Setosa', 'Versicolor', 'Versicolor', 'Virginica', 'Virginica',
       'Versicolor', 'Virginica', 'Versicolor', 'Versicolor', 'Setosa',
       'Versicolor', 'Setosa', 'Virginica', 'Setosa', 'Versicolor',
       'Versicolor', 'Versicolor', 'Setosa', 'Virginica', 'Versicolor',
       'Versicolor', 'Virginica', 'Virginica', 'Virginica', 'Setosa'],
      dtype='<U10')

In [20]:
#Confusion Matrix and Accuracy
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
from sklearn.metrics import accuracy_score 
print ("Accuracy : ", accuracy_score(y_test, y_pred))
cm

Accuracy :  1.0

array([[ 7,  0,  0],
       [ 0, 15,  0],
       [ 0,  0,  8]], dtype=int64)

In [12]:
#Comparing the Real Values with Predicted Values
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
df

   Real Values Predicted Values
0       Setosa           Setosa
1    Virginica        Virginica
2       Setosa           Setosa
3       Setosa           Setosa
4   Versicolor       Versicolor
5    Virginica        Virginica
6   Versicolor       Versicolor
7       Setosa           Setosa
8    Virginica        Virginica
9   Versicolor       Versicolor
10      Setosa           Setosa
11   Virginica        Virginica
12  Versicolor       Versicolor
13  Versicolor       Versicolor
14   Virginica        Virginica
15  Versicolor       Versicolor
16      Setosa           Setosa
17   Virginica       Versicolor
18   Virginica        Virginica
19      Setosa           Setosa
20   Virginica        Virginica
21      Setosa           Setosa
22  Versicolor       Versicolor
23   Virginica        Virginica
24   Virginica        Virginica
25  Versicolor       Versicolor
26   Virginica        Virginica
27  Versicolor       Versicolor
28   Virginica        Virginica
29  Versicolor       Versicolor